<div id="burgerNav">
  <img
    src="./assets/burger.png"
    id="burger"
    onclick="burgerNav(event);"
    alt="burgerNav"
  />
  <img
    src="./assets/croix.png"
    onclick="croixNav(event);"
    id="croix"
    alt="croix"
  />
</div>
<nav>
  <div id="topLeft">
    <div>
      <img src="./assets/logobdefinal.png" alt="logoBDE" />
      <div>
        <div>BDE</div>
        <div>INFO</div>
      </div>
    </div>
    <div>IUT Nice</div>
  </div>
  <ul>
    <li><a routerLink="/"> Accueil</a></li>
    <li><a routerLink="/events"> Evènements</a></li>
    <li><a> L'association</a></li>
    <li><a> Contact</a></li>
    <li><a routerLink="/login"> Connexion</a></li>
  </ul>
  <div id="bottomLogoReseau">
    <a href="#"><img src="./assets/insta.png" alt="insta" /></a>
    <a href="#"><img src="./assets/twitter.png" alt="twitter" /></a>
  </div>
</nav>
<router-outlet></router-outlet>
